.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.saveBtn {
  background-color: #6b1e1e;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.cancelBtn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}