@use "@/styles/tokens/colors" as *;

.authWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: $white;
  width: 100%;
}

.authForm {
  padding-top: 6rem;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
.regTypo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
  h2{
    font-weight: 500;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    line-height: 120%;
    letter-spacing: -1px;
    text-align: center;
    color: $black ;
    // margin-bottom: 0.5rem;
  }
  p{
       font-weight: 500;
    font-size: clamp(0.95rem, 2vw, 1.1rem);
    text-align: center;
    color: $subtext;
    margin-bottom: 1.2rem;
  }
  .enter_password{
    font-weight: 500;
    font-size: clamp(0.95rem, 2vw, 1.1rem);
    text-align: center;
    color: $black;
    margin-bottom: 1.2rem;
  }
}

.authForm input {
  padding: 0.8rem;
  border-radius: 6px;
  font-size: clamp(14px, 2vw, 16px);
}

.authForm button {
  background-color: $primary;
  color: $white;
  border: none;
  cursor: pointer;
  height: clamp(45px, 5vw, 58px);
  padding: 8px 28px;
  gap: 10px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: var(--font-satoshi);
  font-weight: 500;
  font-size: clamp(10px, 2vw, 12px);
  text-align: center;
  text-transform: uppercase;
  
  &:hover {
    background: $hover;
  }
}

.authForm .error {
  color: #A30000;
  font-size: clamp(12px, 2vw, 14px);
}

.phoneInputWrap {
  width: 100%;
}

.phoneContainer {
  width: 100% !important;
}

.phoneInput {
  width: 100% !important;
  padding: 1.7em 3em !important;
  border: 1px solid $input !important;
  border-radius: 6px;
  font-size: 2rem;
  background: #F9F9F9 !important;
  color: $black
 !important;
 font-size: 16px !important;
  font-weight: 600 !important;
  outline: none !important;
  margin-bottom: 0 !important;
  box-sizing: border-box !important;
}

.phoneBtn {
  border: none !important;
  background: transparent !important;
  border-radius: 3px 0 0 3px !important;
  padding-left: 0.2em !important;
  padding-right: 0.5em !important;
}

.phoneDropdown {
  border-radius: 0 0 4px 4px !important;
  font-size: 2rem !important;

  z-index: 20 !important;
}

.loginLink {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.08rem;
  color: #7d868c;
}

.loginAnchor {
  color: #b80000;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 0.3em;
  transition: color 0.18s;
}
.loginAnchor:hover {
  color: #111;
}

.favinaAuthBrand{
display: flex;
justify-content: space-between;
padding: 10px 20px;
align-items: center;
}
.favinaAuthBrand img {
width: 804px;
height: 700px;
top: 13px;
left: 13px;
border-top-left-radius: 140px;
border-bottom-right-radius: 140px;

}
.authExtras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
}

.rememberMe {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: #111;
  font-weight: 600;

}

.forgotLink {
  color: $black;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;

}
.codeInputWrapper {
  display: flex;
  gap: clamp(5px, 2vw, 10px);
  justify-content: center;
  margin-bottom: 1rem;
}

.codeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(50px, 10vw, 84px);
  height: clamp(50px, 10vw, 76px);
  border-width: 1px;
  gap: 10px;
  padding: 16px 12px;
  border-radius: 5px;
  color: $black;
  font-size: clamp(24px, 5vw, 44px);
  font-weight: 500;
  text-align: center;

  &:focus {
    border-color: #9BADCA;
  }
}
.subInput{
font-family: 'Roboto';
font-weight: 400;
font-size: clamp(8px, 1.5vw, 10px);
line-height: 100%;
letter-spacing: 0%;
color: $subtext !important;
margin: 10px;
text-align: start;
display: flex;
align-items: flex-start;
justify-content: flex-start;
}

.timerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0.5rem 0;
  min-height: 32px;
}

.timerText {
  color: $subtext;
  font-size: clamp(12px, 2vw, 15px);
  letter-spacing: 1px;
}

.resendBtn {
  background: none;
  border: none;
  color: #0070f3;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  font-size: clamp(12px, 2vw, 15px);
  padding: 0;
  min-width: 0;
}

.changeEmail {
  margin-left: 10px;
  color: #0070f3;
  cursor: pointer;
  font-size: clamp(12px, 2vw, 14px);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .authForm {
  padding-top: 2rem;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  }
}

@media (max-width: 600px) {
.authForm {
        padding-top: 1rem;
        gap: 8px;
        h2{
          font-size: 20px;
        }
}.favinaAuthBrand{
  display: none;
}
.subInput{
  margin-top: 0;
}
.codeInput{
  width: 50px;
  height: 50px;

}
.authForm button{
  height: 45px;
}
}