$white: #ffffff;
$black: #000000;
$primary: #731e22;
$text: #403F3F;
$subtext: #535353;
$small-text: #f9f9f9;
$background: #100a05;
$border: #353535;
$pink: #f1ccce;
$card: #f0f0f0;
$card-category: #7c7c7c;
$old-price: #b0b0b0;
$hover: #a12d2d;
$placeholder: #ACACAC;
$input: #6B737A;
$name: #5D5D5D;
